@import url('https://fonts.cdnfonts.com/css/nats');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            overflow-x: hidden;
            
        }

body {
    overflow-x: hidden;
    width: 100vw;
}
            
        .header {
            font-family: "NATS";
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            padding: 1rem;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            z-index: 10;
        }


        .logo {
            font-weight: bold;

        }

        .logo img {
          margin-top: 6px;           
         }

        .nav-links {
            display: flex;
            gap: 1rem;
            
        }

        .nav-links a {
            text-decoration: none;
            color: black;
            transition: all 0.3s ease;
        }

        .nav-links a:hover {
            color: hotpink;
            transform: scale(1.1);
        }

.center-image {
  display: flex; 
  justify-content: center; 
  height: 80vh; 
  width: 100vw; 
  margin: 0;
  position: relative;

}


.center-image img {
  width: 80%; 
  height: auto;
  display: block;  
  position: absolute;
  top: 0;
}

 h4 {
    font-family: "Montserrat";
    padding-left: 40px;
    font-weight: 800;
    font-size: 1em; 
}

h2 {
    font-family: "Montserrat";
    padding-left: 20px;
    
    font-weight: 800;
     font-size: 2.5em; 
  color: white;
  text-shadow:
     -1px -8px 0 black,
      8px -8px 0 black,
      -8px 7px 0 black,
      8px 4px 0 black,
      0.1px -8px 0 black,
      0.1px 6px 0 black,
      -8px 0.1px 0 black,
      8px 0.1px 0 black;   /* Right - increased offset */
      
}



p {
    font-family: "NATS";
    font-size: 120%;
    line-height: 110%;
    padding: 30px;
    z-index: 1000;
    
}


#section1, #section3 {
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 30px;
    opacity: calc(var(--progress)*2);
}

#section1 img {
    width: 80%;
    display: block;
    margin: 0 auto;
   
}

#section3 img {
    width: 80%;
    padding-right: 7%;
    display: block;
    margin: 0 auto;
   
}


#section4 {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(200px, 1fr)) 1fr;
    gap: 20px;
    margin: 10px;
    padding: 20px;
    max-width: 1200px; /* Limit max width for better readability */
}

#section4 h2 {
    grid-column: 2 / span 3;
    text-align: center;
}

#section4 p {
    grid-column: 2 / span 3; /* Text takes up 3 out of 5 columns */
    text-align: justify;
    margin: 10px;
}


#section4 img {
    grid-column: 2 / span 3;
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 20px auto;
}

#section5 {
    background-color: #92C095;
    width: 70%;
    margin-left: 15%;
    margin-top: 150px;
    margin-bottom: 200px;
     opacity: var(--progress);
    font-family: "Major Mono Display"
}

/* Mobile: Stack everything in one column */
@media (max-width: 768px) {
    #section4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    #section4 h2 {
        text-align: center;
    }

    #section4 p {
        width: 90%;
        text-align: center;
    }
}

#section3 p {
    margin: 20%;
}

#section1 p {
    margin: 20%;
}

#section p {
    max-width: 60%;
    margin: 20px auto;
}

#section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 10px;
    padding: 20px;
    align-items: start;
}

#section2 h2 {
    grid-column: span 2;
    text-align: center;
}

#section2 img {
    width: 90%;
    height: auto;
    margin: 10px;
    padding-top: 50px;
}

#section2 p {
    text-align: justify;
    margin: 10px;
    opacity: calc(var(--progress)*2);
    padding-top: 100px;
}

/* Position images */
#section2 img:first-of-type {
    float: left;
    
}

#section2 img:nth-of-type(2) {
    float: right;
    margin-left: 20px;
}

/* Mobile responsiveness: Stack and center everything */
@media (max-width: 768px) {
    #section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #section2 h2 {
        text-align: center;
    }

    #section2 img {
        float: none;
        display: block;
        margin: 20px auto;
        max-width: 70%;
    }

    #section2 p {
        text-align: center;
        width: 90%;
    }
}


 

 #lists {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            align-items: center;
            font-family: "NATS";
            max-width: 90%;
            margin-left: 5%;
            padding-top: 200px;
     
        }
        .left {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 10px;
            
            
        }
        .left img {
            max-width: 90%;
            height: auto;
            margin-left: 5%;
            z-index: -1000;
        }
        .right {
            padding: 20px;
            padding-top: 20vh;
            max-width: 80%;
            margin-left: 10%;
        }
        .right ul {
            list-style-type: georgian;
            padding-left: 20px;
        }
        .right li {
            font-size: 120%;
            line-height: 100%;
            padding: 10px;
        }
        @media (max-width: 768px) {
            #lists {
                grid-template-columns: 1fr;
                text-align: center;
            }
           
            .left, .right {
                width: 100%;
            }
            .right ul {
                padding-left: 0;
            }
        }

.footer {
    padding-top: 28px;
    position: relative;
    display: block;
   
    padding-bottom: 175px;
    
    
}


.footer h2 {
    margin-left: 10px;
    font-size: 14pt;
}

.footer p {
    width: 30%;
    text-align: left;
    font-size: 10pt;
    color: lightslategray;
    margin-left: 10px;
    position: absolute;
    line-height: .9rem; 
    font-family: "NATS";
}
